@font-face{
	src: url(fonts/Poppins/Poppins-Thin.ttf);
	font-family: pop;
}

html{
	font-size: 100%;
	box-sizing: border-box;
	font-family: pop;
}

*, *::before, *::after{
	padding: 0;
	margin: 0;
	border-style: inherit;
	list-style-type: none;
	text-decoration: none;
	color: #ffffff;
}

.pages{
	display: flex;
	width: 100vw;
	height: 100vh;
	overflow: hidden;

	#leftSection{
		display: flex;
		flex-direction: column;
		background-color: #08001c;
		z-index: 1;
		display: none;

		#userProfile{
			flex: 1;
			display: flex;
			flex-direction: column;
			background-color: #08001c;
			padding: 0.5rem;

			#userImage{
				display: flex;
				justify-content: center;
				align-items: center;
				cursor: pointer;
				width: 7rem;
				height: 7rem;
				border-radius: 50%;
				margin: .2rem auto;
				background-color: #ff7b00;
				overflow: hidden;

				img {
					width: 7.5rem;
					border-radius: 50%;
				}
			}
			#userName{
				margin: 0 auto;
			}
			#userMail{
				margin: .2rem auto;
			}
		}

		#users{
			flex: 3;
			display: flex;
			flex-direction: column;
			background-color: #08001c;
			padding: .1rem;
			margin: .5rem 0;
			overflow-y: auto;

			.user{
				display: flex;
				align-items: center;
				background-color: #030304;
				margin: .1rem 0;
				padding: .1rem .5rem;
				height: 2.5rem;
				font-weight: bold;
				cursor: pointer;

				.anyUserImage {
					display: flex;
					justify-content: center;
					align-items: center;
					width: 2.5rem;
					height: 2.5rem;
					border-radius: 50%;
					background-color: #00d9ff;
					margin: .1rem;
					overflow: hidden;

					img {
						width: 3rem;
						border-radius: 50%;
					}
				}

				.anyUserName {
					flex: 3;
					display: flex;
					justify-content: center;
					background-color: #2e2d2d;
					padding: 0 .5rem;
					margin: .5rem;
					border-radius: .5rem;
				}

				.status{
					width: .5rem;
					height: .5rem;
					border-radius: 50%;
				}

				.online{
					background-color: #00ff00;
				}
				.offline{
					background-color: #808080;
				}
			}
		}
	}

	#mainSection{
		display: flex;
		flex-direction: column;
		width: 100%;
		height: 93%;
		padding-bottom: 2rem;
		position: absolute;
		bottom: 5rem;
		top: 0;
		overflow-y: auto;
		z-index: 0;

		#headerMain{
			flex: 1;
			display: flex;
			justify-content: center;
			align-items: center;
			background-color: #08001c;

			#chatTittle{
				width: 80%;
				text-align: center;
				font-family: Arial, Helvetica, sans-serif;
				font-size: 2rem;
				font-weight: bold;
				margin: 1rem;
			}
		}
		#main{
			display: flex;
			flex-direction: column;
			flex: 10;
			background-color: #888899;
			overflow-y: auto;
			padding: .3rem;
			font-family: sans-serif;
			font-size: 1.2rem;

			.otherUsers{
				display: flex;
				flex-direction: column;
				width: 85%;
				margin: .5rem;
				align-self: flex-start;
				background-color: #ff9900;
				border-radius: .5rem;
				padding: .5rem;

				.otherUserProfil{
					display: flex;
					align-items: center;
					padding: .2rem 1rem;
					border-radius: .5rem;
					align-self: flex-start;
					background-color: #593b3b;
					font-weight: bold;

					img {
						width: 1.8rem;
						margin: .1rem .5rem;
						background-color: #00aeff;
						border-radius: 50%;
						padding: .2rem;
					}
				}

				.otherUsersMsg{
					font-family: 'Fira Code';
					font-size: .9rem;
					margin-top: .5rem;
					font-weight: bold;
				}
			}
			.currentUser{
				display: flex;
				flex-direction: column;
				width: 85%;
				margin: .5rem;
				align-self: flex-end;
				text-align: right;
				background-color: #00aeff;
				border-radius: .5rem;
				padding: .5rem;

				.currentUserProfil{
					display: flex;
					align-items: center;
					padding: .2rem 1rem;
					border-radius: .5rem;
					align-self: flex-end;
					background-color: #3a0303;
					font-weight: bold;

					img {
						width: 1.8rem;
						margin: .1rem .5rem;
						background-color: #00aeff;
						border-radius: 50%;
						padding: .2rem;
					}
				}

				.currentUserMsg{
					font-family: 'Fira Code';
					font-size: .9rem;
					margin-top: .5rem;
					font-weight: bold;
				}
			}
		}
	}

	#footerMain {
		display: flex;
		justify-content: center;
		height: 7%;
		padding: .1rem;
		background-color: #08001c;
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 2;

		#form {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 80%;
			height: 90%;
			margin: .2rem;

			#msgText {
				display: flex;
				align-items: center;
				justify-content: center;
				width: 90%;
				height: 90%;
				padding: .1rem 1rem;
				border-radius: 1rem 0 0 1rem;
				outline: none;
				border: none;
				background-color: #01030c;
				overflow: hidden;
			}

			#sndMsg {
				cursor: pointer;
				color: #08001c;
				padding: 0 .5rem;
				height: 50%;
				border-radius: 0 1rem 1rem 0;
				font-weight: bold;
				outline: none;
				border: none;
			}
		}
	}
}
